.body-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this value as needed for vertical centering */
}
body {
  background-color: rgb(118, 171, 174);
}

.container h1 {
  font-size: 2rem; /* Example font size adjustment */
}
/* Home.css */

.container {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Distribute items along the main axis */
  align-items: center; /* Align items along the cross axis */
}

.content {
  display: flex; /* Use flexbox layout */
}
/* Home.css */
.image-container {
  display: flex; /* Use flexbox layout */
  height: 100px; /* Specify the height of the container */
}

.image {
  margin-bottom: 50px;
  max-width: 500px; /* Ensure the image does not exceed container width */
  max-height: 500px; /* Ensure the image does not exceed container height */
  border-radius: 10px;
}
.box {
  margin-top: 60px;
  margin-left: 20px;
}
.team-info {
  text-align: right;
  justify-content: center;
  align-items: center;
}
.container {
  justify-content: center;
  align-items: center;
}
