.body-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this value as needed for vertical centering */
}

.container {
  text-align: center;
}

.container h1 {
  font-size: 2rem; /* Example font size adjustment */
}
