nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.iplogs-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.table-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  max-width: 100%; /* Ensure the table doesn't exceed the container's width */
}

table {
  width: 100%; /* Ensure the table fills its container */
}
